<div id="<%= dom_id comrade %>">
  <p>
    <strong>First name:</strong>
    <%= comrade.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= comrade.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= comrade.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= comrade.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= comrade.twitter %>
  </p>

  

</div>
