<%= form_with(model: comrade) do |form| %>
  <% if comrade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comrade.errors.count, "error") %> prohibited this comrade from being saved:</h2>

      <ul>
        <% comrade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "Email address" %>
  </div>

  <div class="form-group">
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone number" %>
  </div>

  <div class="form-group">
    <%= form.text_field :twitter, class: "form-control", placeholder: "Twitter handle" %>
  </div>

  <div class="form-group">
    <%= form.number_field :user_id, id: :comrade_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>


  <div >
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
