
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="bg-dark bg-opacity-50">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @comrades.each do |comrade| %>
        <% if comrade.user == current_user %>
          <tr>
            <td>
              <%= link_to comrade.first_name + " " + comrade.last_name, comrade %>
            </td>
            <td><%= comrade.email %></td>
            <td><%= comrade.phone %></td>
            <td><%= comrade.twitter %></td>
            <td><%= link_to "Edit", edit_comrade_path(comrade), class: "btn btn-secondary btn-sm" %>|<%= link_to "Delete", comrade_path(comrade), data: { turbo_method: :delete, turbo_confirm: "Are you sure"}, class: "btn btn-danger btn-sm" %>
          </tr>
        <% end %><br>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New comrade", new_comrade_path, class: "btn btn-secondary" %>
</div>